body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgba(255, 0, 0, 0);
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.title {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#shortUrl1 {
    width: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

#go,
#make {
    background-color: #7e57c2;
    border: none;
    padding: 10px;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s;
}

#go {
    border-radius: 0 5px 5px 0;
}

#make {
    border-radius: 5px;
    margin-left: 10px;
}

#go:hover,
#make:hover {
    background-color: #5e3ea2;
}

.generate-qr-btn {
    background-color: #7e57c2;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    margin-bottom: 20px;
}

.qr-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qr-container img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}
