body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgba(255, 0, 0, 0);
}

button {
    background-color: #7e57c2;
    border: none;
    padding: 10px;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s;
    border-radius: 5px;
}

button:hover {
    background-color: #5e3ea2;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.title {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#shortUrl1 {
    width: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

#go {
    border-radius: 0 5px 5px 0;
}

#make {
    margin-left: 10px;
}

.generate-qr-btn {
    padding: 10px 20px;
    margin-bottom: 20px;
}

.qr-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qr-container img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

#urlSelection {
    display: flex;
    flex-direction: column;
}

.url-item {
    width: 100%;
    height: 28px;
    display: flex;
    align-items: center;
    padding: 4px;
    cursor: pointer;
    border: none;
    background: none;
    white-space: nowrap;
    overflow: hidden;
}

.url-item:hover,
.url-item:active,
.url-item:focus {
    background-color: #f0f0f0;
}

.url-management {
    text-align: left;
    margin: 2px 4px;
}

.spreadsheet {
    border-bottom: 1px solid #333;
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spreadsheet-container {
    display: flex;
    gap: 0.5rem;
    margin: auto 0;
    align-items: center;
}

.spreadsheet-img {
    height: 1.5rem;
    width: 1.5rem;
}

.form-item {
    margin: 1rem 0 0 0;
    display: flex;
    flex-direction: column;
}

.add-spreadsheet {
    margin: 1rem 0 0 0;
}

.form-buttons {
    display: flex;
    gap: 2rem;
}

.delete-btn {
    height: 1.5rem;
    margin: 0 4px;
    background-color: #eb2525;
    display: flex;
    align-items: center;
}

.delete-btn:hover {
    background-color: #c60606;
}

#cancel-btn {
    background-color: rgb(231, 231, 231);
    border: #333;
    color: #333;
}

#cancel-btn:hover {
    background-color: rgb(210, 207, 207);
}
