body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
    background-color: rgba(255, 0, 0, 0);
}

button {
    background-color: #7e57c2;
    border: none;
    padding: 10px;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s;
    border-radius: 5px;
    width: 100%;
}

button:hover {
    background-color: #5e3ea2;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: auto;
}

.title {
    font-size: 24px;
    color: #333;
    display: flex;
    align-items: center;
    gap: 4px;
}

.main-icon {
    width: 40px;
    height: 40px;
}

.input-container {
    display: flex;
    justify-content: center;
}

#shortUrl1 {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

#go {
    border-radius: 0 5px 5px 0;
    width: 30%;
}

.generate-qr-btn {
    padding: 10px 20px;
    margin-bottom: 20px;
    width: 100%;
}

.qr-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qr-container img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

#urlSelection {
    display: flex;
    flex-direction: column;
}

.url-item {
    width: 100%;
    height: 28px;
    display: flex;
    align-items: center;
    padding: 4px;
    cursor: pointer;
    border: none;
    background: none;
    white-space: nowrap;
    overflow: hidden;
}

.url-item:hover,
.url-item:active,
.url-item:focus {
    background-color: #f0f0f0;
}

.tab-group {
    margin-top: 20px;
    width: 100%;
    list-style: none;
    text-align: center;
}

.tab-button {
    display: flex;
    justify-content: space-between;
    list-style: none;
    cursor: pointer;
    width: 100%;
    padding: 0;
    margin: 0;
}

.tab-button .is-active {
    background: #7e57c2;
    color: #f0f0f0;
}

.tab {
    width: 50%;
    border: 2px solid #7e57c2;
    padding: 8px;
    border-bottom: none;
}

.tab-button .tab-01 {
    border-top-left-radius: 4px;
}

.tab-button .tab-02 {
    border-top-right-radius: 4px;
}

.tab-contents {
    background: #f0f0f0;
}

.content {
    display: none;
    padding: 16px;
    text-align: left;
    background-color: rgba(126, 87, 194, 0.1);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.content.is-display {
    display: block;
    border: 2px solid #7e57c2;
}

#tabGroupSelect {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    margin: 10px 0;
}

.selection-item {
    display: flex;
    align-items: center;
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.item-type {
    font-weight: bold;
    margin-right: 10px;
    padding: 2px 5px;
    border-radius: 3px;
}

.item-text {
    flex-grow: 1;
}

.header {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.setting-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}